<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e6db8">  <td>20/09/10 11:47:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team7DDPaginationTestcase@1613674b]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@455785638</td>   <td></td> </tr>
<tr bgcolor="e79ae3">  <td>20/09/10 11:47:59</td>   <td>13114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team7DDPaginationTestcase.TC7_Pagination(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team7DDPaginationTestcase@1613674b]">TC7_Pagination</td> 
  <td>main@455785638</td>   <td></td> </tr>
<tr bgcolor="8e6db8">  <td>20/09/10 11:47:59</td>   <td>13536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team7DDPaginationTestcase@1613674b]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@455785638</td>   <td></td> </tr>
</table>
