<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:38:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>20/09/14 17:38:16</td>   <td>10389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team7DDSearchBarTestCase.SearchWithInvalidDta(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">SearchWithInvalidDta</td> 
  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:38:25</td>   <td>19769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:38:31</td>   <td>24848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>20/09/14 17:38:39</td>   <td>33368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team7DDSearchBarTestCase.SearchWithProductname(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">SearchWithProductname</td> 
  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:38:51</td>   <td>45451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:38:56</td>   <td>50414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>20/09/14 17:39:05</td>   <td>58873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team7DDSearchBarTestCase.SearchWithProductname(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">SearchWithProductname</td> 
  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:39:41</td>   <td>95233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:39:46</td>   <td>100425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>20/09/14 17:39:55</td>   <td>108911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team7DDSearchBarTestCase.SearchWithProductname(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">SearchWithProductname</td> 
  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:40:08</td>   <td>121822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:40:12</td>   <td>126744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>20/09/14 17:40:21</td>   <td>135330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team7DDSearchBarTestCase.SearchWithProductname(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">SearchWithProductname</td> 
  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:40:34</td>   <td>147839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:40:38</td>   <td>152760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>20/09/14 17:40:47</td>   <td>161301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team7DDSearchBarTestCase.SearchWithProductname(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">SearchWithProductname</td> 
  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:40:59</td>   <td>173454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:41:04</td>   <td>178400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="b997b1">  <td>20/09/14 17:41:13</td>   <td>186883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team7DDSearchBarTestCase.SearchWithProductname(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">SearchWithProductname</td> 
  <td>main@1587819720</td>   <td></td> </tr>
<tr bgcolor="9d7190">  <td>20/09/14 17:41:26</td>   <td>199809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team7DDSearchBarTestCase@21a947fe]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1587819720</td>   <td></td> </tr>
</table>
